<h2>Products</h2>

<div *ngFor="let product of products">
  <h3>
    <a [title]="product.name + ' Product details '">
      {{ product.name }}
    </a>
  </h3>
  <p *ngIf="product.description">Description : {{ product.description }}</p>
  <h4>
    {{ product.price + '   ' + product.description }}
  </h4>
  <button type="button" (click)="share()">Share details</button>
  <app-product-alerts [product]="product" (notify)="OnNotify()"> </app-product-alerts>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
